version: "3.9"

services:
  frontend:
    build:
      context: ./apps/client
      dockerfile: Dockerfile
    container_name: casino_frontend
    restart: unless-stopped

  backend:
    build:
      context: ./apps/server
      dockerfile: Dockerfile
    container_name: casino_backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
    expose:
      - "3000"

  nginx:
    image: nginx:latest
    container_name: casino_nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./certbot:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
